body{
    background-color: #f5f5f5;
}

.question1div{
    padding:10px;
    background-color: #ffff00;
}

.question1div h1{
    background-color: #ff0000;
}

.question1div p{
    background-color: #00ff00;
}

img{
    width: 10%;
    height: 10%;
}
.imgborder{
    border: 3px solid #b664e3;
}

.question3div{
    border: 1px solid #f653;
}

.question4div{
    border: 1px solid #f653;
}


table { 
    border-collapse: collapse;
    margin: 2px;
}
.table1 td, .table2 td ,.table3 td, .table4 td{
    text-align: center;
    border: inset 4px rgb(106, 19, 19) ;
}

input,b{
    margin: 10px;
    padding: 10px;
}