.question1div{

}

.div1h1{
    background-color: #3883eb;
    margin: 0px;
    margin-bottom: 0px;
    padding:25px;
}

.darkcolorbg{ 
    margin: 0;  
    background-color: #adbcc9 ;
    padding:25px;
}

.bgcolor{
    margin: 0;
    padding:25px;
    background-color: #b1f0e4;
}

.question2div{
    border: 1px solid black;
    background-color: #b1f0e4;
}

.question3div{
    border: 1px solid black;
    background-color: #b1f0e4;
}

#capital{
    text-transform: capitalize;
}

#lower{
    text-transform: lowercase;
}

#upper{
    text-transform: uppercase;
}

.question4div a{
    color: #f00;
}

.question4div a:hover, a:focus  {
    color: #00f;
}

.question4div a:visited{
    color: #87888a;
}