.question1div{
    border: 1px solid black;
    background-color: #b1f0e4;
}

.div1h1{
    background-color: #3883eb;
    margin-top: 2px;
    margin-bottom: -16px;
    padding:25px;
}

.darkcolorbg{   
    background-color: #adbcc9 ;
    padding:25px;
}

.bgcolor{
    background-color: #b1f0e4;
}
